<div class="content-wrapper">
    <h1 class="text-center">CHANGE PASSWORD</h1>
    <form id="form-change-pass" class="pt-3 mt-5 p-5" method="POST" action="/admin/password/{{user._id}}">

        <div class="form-group">
            <label>Current password</label>

            <input type="password" class="form-control form-control-lg" name="oldPassword" required>
        </div>

        <div class="form-group mt-4">
            <label>New password</label>

            <input type="password" class="form-control form-control-lg" name="newPassword" required>
        </div>

        <div class="form-group mt-4">
            <label>Retype new password</label>
            <input type="password" class="form-control form-control-lg" name="rePassword" required>
        </div>
        <div class="mt-5">
            {{#if message}}
            <div class="mb-2 text-right" id="valid-text" style="color: red;">{{message}}</div>
            {{/if}}

            {{#if success}}
            <div class="mb-2 text-right" id="valid-text" style="color: rgb(6, 87, 6);">{{success}}</div>
            {{/if}}
            <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                value="CHANGE"></input>
        </div>
    </form>
</div>