<div class="content-wrapper">
    <h1 class="mb-4 text-center">ADD NEW PRODUCT</h1>
    <form name="forms-add-product" method="POST" action='/product/store' enctype="multipart/form-data">
        <div class="form-group">
            <label for="product-name-input">Name</label>
            <input type="text" class="form-control" id="product-name-input" placeholder="Enter new product name"
                name="name" required>
        </div>
        <div class="form-group">
            <label for="product-brand-input">Brand</label>
            <input type="text" class="form-control" id="product-brand-input" placeholder="Enter product brand"
                name="brand" required>
        </div>
        <div class="form-group">
            <label for="product-gender-dropbox">Gender</label>
            <select class="form-control" id="product-gender-dropbox" name="gender" required>
                <option value="false">Male</option>
                <option value="true">Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="product-catergory-dropbox">Category</label>
            <select class="form-control" id="product-catergory-dropbox" name="category" required>
                <option value="Handbag">Handbag</option>
                <option value="Bracelet">Bracelet</option>
                <option value="Wrist watch">Wrist watch</option>
            </select>
        </div>

        <div class="form-group">
            <label for="product-price-input">Price</label>
            <input type="number" step=0.01 class="form-control" id="product-price-input" placeholder="Enter price"
                name="price" required>
        </div>

        <div class="form-group">
            <label for="product-sale-input">Sale</label>
            <input type="number" step=0.01 class="form-control" id="product-sale-input"
                placeholder="Enter sale off percentage" name="sale" required>
        </div>

        {{!-- product images --}}
        <div class="form-group">
            <label>Product image</label>
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="product-file-input" required multiple name="images"
                    accept="image/*">
                <label class=" custom-file-label" for="product-file-input">Choose file...</label>
            </div>
        </div>

        <div class="form-group">
            <label for="product-description-input">Description</label>
            <textarea class="form-control" id="product-description-input" rows="4" name="description"
                placeholder="Description..." required></textarea>
        </div>

        <div class="float-right mt-4">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
        </div>
    </form>
</div>