<div class="content-wrapper">
    <h1 class="mb-4 text-center">ADD NEW PRODUCT</h1>
    <form class="forms-sample" method="POST" action='/product/store'>
        <div class="form-group">
            <label for="product-name-input">Name</label>
            <input type="text" class="form-control" id="product-name-input" placeholder="Name" name="name" required>
        </div>
        <div class="form-group">
            <label for="product-brand-input">Brand</label>
            <input type="text" class="form-control" id="product-brand-input" placeholder="Brand" name="brand" required>
        </div>
        <div class="form-group">
            <label for="product-gender-dropbox">Gender</label>
            <select class="form-control" id="product-gender-dropbox" name="gender" required>
                <option value=""></option>
                <option value="false">Male</option>
                <option value="true">Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="product-catergory-dropbox">Category</label>
            <select class="form-control" id="product-catergory-dropbox" name="category" required>
                <option value=""></option>
                <option value="Handbag">Handbag</option>
                <option value="Bracelet">Bracelet</option>
                <option value="Wrist watch">Wrist watch</option>
            </select>
        </div>

        <div class="form-group">
            <label for="product-price-input">Price</label>
            <input type="text" class="form-control" id="product-price-input" placeholder="Price" name="price" required>
        </div>

        <div class="form-group">
            <label for="product-sale-input">Sale</label>
            <input type="text" class="form-control" id="product-sale-input" placeholder="Sale" name="sale" required>
        </div>

        {{!-- product images --}}
        {{!-- <div class="form-group">
            <label>Image upload</label>
            <input type="file" name="img[]" class="file-upload-default">
            <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info" placeholder="Upload Image">
                <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                </span>
            </div>
        </div> --}}

        <div class="form-group">
            <label for="product-description-input">Description</label>
            <textarea class="form-control" id="product-description-input" rows="4" name="description"
                required></textarea>
        </div>

        <div class="float-right mt-4">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
        </div>
    </form>
</div>