<div class="content-wrapper">
    <h1 class="text-center mb-5">ORDER LIST</h1>
    <div class="col-lg-12 grid-margin stretch-card order-list">


        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer email</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jacob</td>
                        <td>53275531</td>
                        <td>12 May 2017</td>
                        <td><label class="badge badge-danger">Pending</label></td>
                        <td><a href="#">Detail</a></td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>Jacob</td>
                        <td>53275531</td>
                        <td>12 May 2017</td>
                        <td><label class="badge badge-danger">Pending</label></td>
                        <td><a href="#">Detail</a></td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>Jacob</td>
                        <td>53275531</td>
                        <td>12 May 2017</td>
                        <td><label class="badge badge-danger">Pending</label></td>
                        <td><a href="#">Detail</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>